@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Roboto:wght@300;400;700;900&display=swap');


@import 'libs/slick';
@import 'libs/animate.min';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #242222;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/titles';
@import 'blocks/services';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';