.footer {
    position: relative;
    z-index: 2;
    padding: 42px 0 51px 0;
    background-color: #432845;
    font-size: 12px;
    line-height: 15px;
    a {
        display: block;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social {
        display: flex;
    }
    &__social-link + &__social-link{
        margin-left: 20px;
    }
}